#title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 75px;
    box-shadow: 0 0 30px hsl(180, 100%, 27%);
    text-shadow: 0 0 1px #000988;
    color: #00ffea;
    background-color: #000000;
    border: 1px solid rgb(0, 255, 234);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.clip-text {
    background: url(https://media.giphy.com/media/MeMPeeRNSssAU/giphy.gif);
    background-size: cover;
    background-position: center;
    
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 75px;
    box-sizing: border-box;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    flex-shrink: 0;
  }