<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{title}}</h1>
    <router-outlet></router-outlet>
</div>
<h2>Navigate our website: </h2>
<nav>
    <h2>
        <a id="page4" href="" routerLink="/" routerLinkActive="active">Home page</a>
    </h2>
    <h2>
        <a id="page1" href="" routerLink="/applet" routerLinkActive="active">Applet</a>
    </h2>
    <h2>
        <a id="page2" href="" routerLink="/history" routerLinkActive="active">Version History</a>
    </h2>
    <h2>
        <a id="page3" href="" routerLink="/random" routerLinkActive="active">Random API</a>
    </h2>
</nav>