<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{title}}</h1>
    <img width="256" alt="Our Group Logo" src=".../siteImage.png">
    <router-outlet></router-outlet>
</div>
<h2>Navigate our website: </h2>
<nav>
    <h2>
        <a id="page4" href="" routerLink="/" routerLinkActive="active">Home page</a>
    </h2>
    <h2>
        <a id="page1" href="" routerLink="/applet" routerLinkActive="active">Applet</a>
    </h2>
    <h2>
        <a id="page2" href="" routerLink="/tweets" routerLinkActive="active">Find a tweet</a>
    </h2>
    <h2>
        <a id="page3" href="" routerLink="/random" routerLinkActive="active">Some random API or logout</a>
    </h2>
</nav>