<!-->PUT YOUR CUSTOM HTML HERE </-->
<div class='verHist'>
    <ul>
        <div class='lists'>
            <li> Hello World Update (Project initialization date) (February 12, 2018): - Project started. All it does is say Hello World, but the group has started, ideas are flowing, and it is now on github so it is still more significant than it may seem.
            </li>
        </div>
        <div class='lists'>
            <li> Version InfDev 0.01 (February 12, 2018): - Games main thread is created, ticking all the events in the game - Graphics and paint methods are set up to display a rectangle that moves (the player) - Input handler is added to handle keyboard
                inputs for moving the player. - Player and all of his/her values are added, but only movement variables are in use.
            </li>
        </div>
        <div class='lists'>
            <li>
                Version InfDev 0.03 (February 13, 2018 at 2:30am mind you): - Player mechanics and physics (simple physics) are added. These are things such sprinting, jumping, crouching, keeping movement in the air (horizontally) and being able to only change that slightly
                by trying to move in mid air, crouching in mid air causes the player to go faster due to less air resistance, gravity acting on the player when jumping, and collision detection on the borders of the screen is added.
            </li>
        </div>
        <div class='lists'>
            <li>
                Version InfDev 0.1 (February 15, 2018): - All basic platform mechanics are added (future ones are listed but not in use yet) as well as all the player collision detection needed for the various types of platforms. Also fixed all the bugs from the previous
                versions. - Only one bug: For platforms that move up and down, you can hit the top part of the side of the block and teleport to the top of the block. This is because otherwise those blocks won’t keep the player from falling through it.
                No idea why yet, but until I do this bug is negligible.
            </li>
        </div>
        <div class='lists'>
            <li>
                Version InfDev 0.2 (The First Enemies)(March 2, 2018): - Platforms moving up and down can crush the player underneath if the player goes below crouch height. - Player has health that is displayed in the top left hand corner than once reaching zero will
                cause the player to not be able to move anymore, turn the graphics red, and change the players graphics. - Player can now shoot in either direction (only horizontally for now) with bullets that do a set amount of damage. - Pressing r will
                restart the level and reset all the platforms and entities for now. - Projectiles are given collision detection and the required parameters to move in any direction and speed they are shot in. - Enemies are added, which at the moment are
                given all their required parameters for now, and for possible future updates. They will move towards the players x position, crouch to get under platforms if needed, and can shoot in any direction depending on where the player is, but
                only if the player is within the enemies eyesight. Speaking of that, enemies are given eyesight that checks towards the target that the enemy is currently tracking. The enemy can also melee entities and the player within a distance of
                20 pixels of the enemy. Entity flags are added so that you can have the entity only shoot in one direction if you want, and also the entities ability to move, look one or both directions, whether it can melee or shoot, etc… to increase
                versatility in entity types.
            </li>
        </div>
        <div class='lists'>
            <li>
                Version InfDev 0.35 (Looks and sounds update) (April 11, 2018): - Added the sound controller system from VILE (only uses one volume for right now though until the main menu is added) and some simple sounds and music to enhance the gameplay at this moment.
                More can be added easily later. - Added textures for a lot of things. All textures are temporary for testing purposes and not everything is textured completely yet (mainly enemy movement and melee). - Implemented a new system of units
                and blocks so that platforms can be broken into units, which will then be distributed into blocks (equal length and width of units) and therefore can show on the screen as different sized textures. Will also make collision easier in the
                future. - Fixed several bug fixes with the enemy getting stuck in the air sometimes and other such things.
            </li>
        </div>
    </ul>
</div>